body {
    color: blue;
    background-color: green;
  }
  
  a {
    color: white;
  }
  
  a:hover {
    color: #e4bdd1;
    text-decoration: underline;
  }
  
  .card-body {
    color: #773a63;
    background-color: #ec8fbe;
    display: flex;
    box-shadow: 2 2 2px black;
  }
  
  .card {
    text-align: left;
    color: #773a63;
    background-color: #773a63;
  }
  
  #post-title {
    text-align: left;
    color: #ec8fbe;
  }

#post-title:hover {
  color: #e4bdd1;
    text-decoration: underline;

}
  
  p {
    color: #e4bdd1;
  }
  